@import "tailwindcss";
@import "@fontsource/marcellus";
@import "@fontsource/source-sans-3";

html {
  scroll-behavior: smooth;
  font-family: "Source Sans 3", sans-serif;
}

@theme {
  --color-white: #f5f5f5;
  --color-ink-black: #172027;
  --color-reddish-brown: #89472c;
  --color-gray-slate: #344745;
  --color-blue: #597e88;
  --color-olive-green: #5e8762;
  --color-gold: #d6a13e;

  --font-marcellus: "Marcellus", serif;
  --font-source-sans: "Source Sans 3", sans-serif;
}

.tt-widget {
  width: 100%;
  max-width: 600px;
}
